{% block title %}
Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h2>Adverts list</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                by {{ advert.author }},
                {{ advert.date|date('d/m/Y') }}
            </li>
            {% else %}
                <li>No add yet</li>
        {% endfor %}
    </ul>
{% endblock %}